a {
    text-decoration: none;
}
video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* __________________header______________________ */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #12376B;
    height: 44px;
    color: white;
    /* margin-bottom: 46px; */
}
header>h6 {
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
}
header>h6>span {
    font-size: 16px;
    font-weight: 900;
    line-height: 20px;
}
/* ___________________________nav_________________________ */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline:182px;
    margin-bottom: 107px;
    padding-top: 46px;
    /* background-color: red; */
}
.nav-picture{
    height: 45px;
    width: 187px;
}
.nav-buttons{
    display: flex;
}
.nav-buttons svg {
    order: -1;
    /* display: none; */
}
.nav-buttons a:nth-of-type(1){
    font-size: 15.25px;
    font-weight: 700;
    line-height: 16px;
    color: white;
    background-color: #F04B25;
    border :0;
    padding-inline:46px;
    padding-block:14.5px;
    border-radius: 22.5px;
    cursor: pointer;
}
.nav-buttons a:nth-of-type(2){
    font-size: 15.25px;
    font-weight: 700;
    line-height: 16px;
    color: #D12215;
    border :0;
    padding-inline:24px;
    padding-block:14.5px;
    cursor: pointer;
}
nav>ul {
display: flex;
gap: 60px;
}
nav>ul>a{
    font-size: 15.25px;
    font-weight: 700;
    line-height: 16px;
    color: #12376B;
    border :0;
    cursor: pointer;
}
/* _______________________________________________________ */
.all{
    display: flex;
    gap: 21px;
    padding-inline: 182px;
}

.rigthpart{
    width: 437px;
    display: flex;
    flex-direction: column;
}
.rigthpart h3 {
    padding: 0;
    margin: 0;
    color:#FFFFFF ;
    font-size: 18px;
    font-weight: 400;
    background-color: #F4A905;
    text-align: center;
    padding-block: 16px;
    border-radius: 10px 10px 0 0;
}
.number1 {
    padding-inline: 31px;
    background-color: #F5F5F5;
}
.number1 h1{
    font-size:40px;
    font-weight: 700;
    color: #12376B; 
    padding: 0;
    margin: 0;
    margin-top: 33px;
    margin-bottom: 14px;
}
.number1 h1 span{
    padding: 0;
    margin: 0;
    color: #F5A805;
}
.number2{
    display: flex;
    align-items: center;
    margin-inline: 31px;
    padding-inline: 40px;
    padding-block: 10px;
    margin-block: 0;
    justify-content: space-between;
    background-color:#F5A805;
    border-radius: 5px;
    margin-block: 26.5px;
    gap: 14px;
}
.background {
    background-color: #F5F5F5;
}
.money{
    display: flex;
    flex-direction: column;
    /* gap: 2px; */
}
.number2 div:nth-of-type(2){
    font-size:12px;
    font-weight: 400;
    color:#9B6900; 
    padding: 0;
    margin: 0;
    /* margin-top: 33px;
    margin-bottom: 14px; */
}
.number2 div:nth-of-type(2) p{
    font-size: 12px;
    position: relative;
}
.number2 div:nth-of-type(2) p:nth-of-type(1)::after{
    content: "";
    width: 176px;
    height: 1px;
    position: absolute;
    bottom: -50%;
    transform: translateY(50%);
    right: 0;
    background-color: #9B6900;

}
.number2 div:nth-of-type(1) h4{
    font-size:40px;
    font-weight: 700;
    color:white; 
    margin-block: 0;
    padding-bottom: 0;
}
.number2 div:nth-of-type(1) p
{
    font-size:20px;
    font-weight: 300;
    color:white; 
    margin-block: 0;
    padding-bottom: 0;

}
.number3{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.num3-1{
    display: flex;
    padding-inline:31px;
    gap: 10px;
    align-items: center;
}
.num3-1 h6{
    font-size:14px;
    font-weight:400;
    color:#909090; 
    margin-block: 0;
}
.num3-1 img{
    transform: translateY(-15px);
}
.num3-1 h6 span{
    font-size:14px;
    font-weight:600;
    color:#909090; 
    margin-block: 0;
}
/*____________________________________________________  */
.svg{
    display: flex;
    gap: 10px;
    align-items: flex-start;
}
.svg::after{
    content: "";
    height: 78px;
    width: 1px;
    margin-inline: 22px;
    background-color: #909090;
}
.svg svg {
    transform: translateY(-2.5px);
}
.svg-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.num3-2{
    display: flex;
    align-items: flex-start;
    /* justify-content: space-between; */
    padding-inline: 31px;
}
.svg-content h5{
    font-size:14px;
    font-weight:400;
    color:#909090; 
    margin-block: 0;
    padding-block:0;
}
.svg-content h5 span{
    font-size:14px;
    font-weight:600;
    color:#909090; 
    margin-block: 0;
}
/* ___________________________________________ */
.svg2 {
    /* margin-block: 0;
    padding-block: 0; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.svg2 h6{
    font-size:14px;
    font-weight:400;
    color:#909090; 
    margin-block: 0;
    padding-block:0;
}
.svg2 h6 span{
    font-size:14px;
    font-weight:600;
    color:#909090; 
    margin-block: 0;
}
.num3-1 h2 {
    font-size:14px;
    font-weight:400;
    color:#909090; 
    margin: 0;
    margin-block-start: 15px;
    padding-block:0;
}
.num3-1 h2 span {
    font-size:14px;
    font-weight:700;
    color : #F5A805; 
}
.num3-1 svg {
    position: relative;
    transform: translateY(-65%);
}
.num3-2  h2{
    padding-right: 10px;
    font-size:14px;
    font-weight:400;
    color:#909090; 
    margin-block: 0;
    padding-block:0;
}
.num3-2 h2 span {
    font-size:14px;
    font-weight:700;
    color : #00B912; 
    margin-block: 0;
    padding-block:0;
}
/* ______________________________________________________ */
.num3-3  h2{
    /* padding-right: 10px; */
    font-size:14px;
    font-weight:400;
    color:#909090; 
    margin-block: 0;
    padding-block:0;
}
.num3-3{
    display: flex;
    align-items: center;
    padding-inline: 31px;
    gap: 10px;
}
.num3-4{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-inline: 31px;
}
.num3-4 h5 {
    font-size:14px;
    font-weight:400;
    color:#909090; 
    margin-block: 0;
    padding-block:0;
}
.num3-4 h5 span {
    font-size:14px;
    font-weight:700;
    color:#909090; 
    margin-block: 0;
    padding-block:0;
}
/* __________________________ */
.num3-5{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-inline: 31px;
    margin-bottom: 28px;
}
.num3-5 h6 {
    font-size:14px;
    font-weight:400;
    color:#909090; 
    margin-block: 0;
    padding-block:0;
}
.num3-6 h6 span {
    font-size:14px;
    font-weight:700;
    color:#909090; 
    margin-block: 0;
    padding-block:0;
}
/* ______________________ */
.number4 a:nth-of-type(1) {
    font-size:24px;
    font-weight:700;
    color:#12376B;
    background-color: #F5A805;
    border-radius: 67px; 
    text-align: center;
    margin-inline: 31px;
    padding-inline:120px ;
    padding-block: 12.5px;
}
.number4 a:nth-of-type(2) {
    font-size:24px;
    font-weight:700;
    color:#9A9A9A;
    background-color: #fff;
    border: 1px solid #616161;
    border-radius: 67px; 
    text-align: center;
    margin-inline: 31px;
    padding-inline:98.5px ;
    padding-block: 12.5px;
}
.number4 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
/* _______________________________ */
.number5{
    display: flex;
    gap: 38px;
    align-items: center;
    justify-content: center;
}
.num5-1,.num5-2{
    display: flex;
    align-items: center;
    gap: 10px;
}
.num5-1 h6,.num5-2 h6 {
    font-size:14px;
    font-weight:400;
    color:#909090;
    margin: 0;
    padding: 0; 
    margin-block: 24px;
}
/* ______________________________________________video_____________________ */
.leftpart {
    flex-grow: 1;
}
.video {
    height: 347px;
    margin-bottom: 33px;
    background-color: red;
}
/* __________________________________________chair___________________________________ */
.chair{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    /* flex-grow: 2; */
}
.chair h6 {
    position: relative;
    margin: 0;
    padding: 0;
    padding-right: 67px;
    font-size:18px ;
    font-weight:400 ;
    color: #12376B;
}
.chair h6::before{
    content: "";
    width: 50px;
    height: 1px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #12376B;
}
.chair h1 {
    margin: 0;
    padding: 0;
    font-size:50px ;
    font-weight:700 ;
    color: #12376B;
}
.chair h1 span {
    color:#F5A805;
}
.chair p {
    line-height: 25px;
    margin: 0;
    padding: 0;
    font-size:18px ;
    font-weight:400 ;
    color: #909090;
}
.about-{
    width: 100%;
    background-color: #F5F5F5;
    height: 270px;
    border-radius: 10px;
    position: relative;
}
.about- h1{
    margin: 0;
    padding: 0;
    font-size:20px ;
    font-weight:600 ;
    color: #fff;
    background-color: #f5a805;
    border-radius: 10px 10px 0 0;
    padding-inline: 20px;
    padding-block: 10px;
    margin-bottom: 10px;
}
.about- .a1 {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-inline-start: 20px;
}
.about- .a1 svg {
    transform: translateY(4px);
}
.about- .a1 h3{
    margin: 0;
    padding: 0;
    font-size:18px ;
    font-weight:400 ;
    padding-top: 15px;
    color: #909090;
}
.about- .a1 h3 span{
    margin: 0;
    padding: 0;
    font-size:18px ;
    font-weight:600 ;
    color: #909090;
}
.a3raf {
    margin-top: 20px ;
    padding-block: 5px ;
    padding-inline: 20px;
    background-color: #D7D7D7;
    font-size: 14px;
    font-weight:600 ;
    color: #818181;
    border-radius: 50px;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
}
/* __________________________________mohtawa_____________________________ */
.mohtawa {
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: #F5F5F5;
    height: 622px;
    margin-bottom: 32px;
}
.topPart{
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding-inline: 33px;
    background-color: #D7D7D7;
}
.topPart h2 {
    font-size: 20px;
    font-weight: 700;
    color: #686868;
}
.bottomPart {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-inline: 33px;
}

.b {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding-inline: 33px;
    background-color: #EAEAEA;
    border-radius: 5px;
}
.b h2 {
    font-size: 17px;
    font-weight: 600;
    color: #818181;
}
.b2 {
    border-radius: 5px 5px 0 0;
    height: 183px;
    background-color:#EAEAEA;
}
.b2-1 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding-inline: 34px;
    background-color: #DBDBDB;
    border-radius: 5px;
}
.b2-1 h2{
    font-size: 17px;
    font-weight: 600;
    color: #818181;
}
.b2-content {
    display: flex;
    flex-direction: column;
    gap:10px ;
    justify-content: center;
    padding-block: 25px;
    margin-block-start: 8px;
}
.bc {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-inline: 34px;
}
.bc h3  {
    font-size: 14px;
    font-weight: 400;
    color: #909090;
    padding: 0;
    margin: 0;
}


/* _________________________ */


.header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding-inline: 33px;
    padding-block: 13px;
    background-color: #D7D7D7;
    border-radius: 10px 10px 0 0 ;
    position: relative;
}
.header h3 {
    padding: 0;
    margin: 0;
    font-size:20px ;
    font-weight: 700;
    color: #686868;
}
.header svg:nth-of-type(2)
{   
    right: -10px;
    top: -17px;
    position: absolute;
}