.course-teachers{
    display: flex;
    flex-direction: column;
    
}
.teachers-cards {
    overflow-x: hidden;
    /* overflow-y: none; */
    /* width: 500px;
    height: 384px; */
    display: flex;
    /* flex-direction: column; */
    gap: 50px;
    margin-bottom: 70px;
} 
/*________________________ card --> 1________________  */
.tc1{
    background-color: #12376B40;
    width: 254px;
    border-radius: 10px;
}
.tc1-img {
   height: 250px;
}
.tc1-img img {
    position: relative;
    right: 50%;
    transform: translateX(50%);
    bottom: 15px;
}
 .tc1-content {
    background-color:#F5F5F5 ;
    border-radius: 0 0 10px 10px;
    padding-inline: 23px;
    padding-block: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
 .tc1-content h2{
    font-size: 26px;
    font-weight: 700;
    color: #12376B;
    padding: 0;
    margin: 0;
 }
 .tc1-content p{
    font-size: 15px;
    font-weight: 400;
    color: #686868;
    padding: 0;
    margin: 0;
 }

 /*________________________ card --> 2________________  */
 .tc2{
    background-color: #F04B2540 ;
    width: 254px;
    /* position: relative; */
    border-radius: 10px;
}
.tc2-img {
   height: 250px;
}
.tc2-img img {
    position: relative;
    right: 50%;
    transform: translateX(50%);
    bottom: 15px;
}
 .tc2-content {
    background-color:#F5F5F5 ;
    border-radius: 0 0 10px 10px;
    padding-inline: 23px;
    padding-block: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
 .tc2-content h2{
    font-size: 26px;
    font-weight: 700;
    color: #F04B25;
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
 }
 .tc2-content p{
    font-size: 15px;
    font-weight: 400;
    color: #686868;
    padding: 0;
    margin: 0;
 }

 /*________________________ card --> 3________________  */
 .tc3{
    background-color: #286CD540 ;
    width: 254px;
    /* position: relative; */
    border-radius: 10px;
}
.tc3-img {
   height: 250px;
}
.tc3-img img {
    position: relative;
    right: 50%;
    transform: translateX(50%);
    bottom: 15px;
}
 .tc3-content {
    background-color:#F5F5F5 ;
    border-radius: 0 0 10px 10px;
    padding-inline: 23px;
    padding-block: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
 .tc3-content h2{
    font-size: 26px;
    font-weight: 700;
    color: #286CD5;
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
 }
 .tc3-content p{
    font-size: 15px;
    font-weight: 400;
    color: #686868;
    padding: 0;
    margin: 0;
 }
 
 /*________________________ card --> 4________________  */
 .tc4{
    background-color: #F4A90540;
    width: 254px;
    /* position: relative; */
    border-radius: 10px;
}
.tc4-img {
   height: 250px;
}
.tc4-img img {
    position: relative;
    right: 50%;
    transform: translateX(55%);
    bottom: 15px;
}
 .tc4-content {
    background-color:#F5F5F5 ;
    border-radius: 0 0 10px 10px;
    padding-inline: 23px;
    padding-block: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
 .tc4-content h2{
    font-size: 26px;
    font-weight: 700;
    color: #F4A905;
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
 }
 .tc4-content p{
    font-size: 15px;
    font-weight: 400;
    color: #686868;
    padding: 0;
    margin: 0;
 }

